// function
@import 'base/_reset';
@import 'base/var';
@import 'base/fonts'; 
@import 'mixins/mix';
@import 'layout/_model';

*, *::before, *::after { box-sizing:border-box }
:root {
    --cursor-height: 80px;
}
*::selection {
    background: $word_hover;
    background-blend-mode: overlay;
}
img{
    width: 100%;
}
body {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    background: $body_bg;
    color: $word;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: $body_bg;
        opacity: .3;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: $body_bg;
        border: 1px solid #ccc;
        opacity: .3;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(to left, #fff, #e4e4e4);
        border: 1px solid #aaa;
        opacity: .3;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #fff;
        opacity: .7;
    }
    &::-webkit-scrollbar-thumb:active {
        background: linear-gradient(to left, #22ADD4, #1E98BA);
        opacity: .7;
    }
    &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('../img/bg.svg');
            background-repeat: repeat;
            background-size: auto; 
            background-position: top left;
            background-blend-mode:screen;
            opacity: 0.1;
            pointer-events: none; 
            z-index: 999; 
    }
        --show-cursor: none;
        cursor:none;
    &:hover {
        --show-cursor: block;
    }
    &::after {
        z-index: 999;
        --cursor-width: max(40px, calc( var(--cursor-height) * .4) );
        display: var(--show-cursor);
        content:"";
        pointer-events:none;
        background:transparent;
        border: 1px solid $nav_time;
        border-radius: calc( var(--cursor-width) / 2 );
        translate: -50% -50%;
        position:absolute;
        top: var(--mouse-y, 0);
        left: var(--mouse-x, 0);
        width: var(--cursor-width);
        height: var(--cursor-height);
        cursor:none;
        transition: height 0.5s cubic-bezier(0.095, 1.090, 0.605, 1.235),
        width 0.3s cubic-bezier(0.095, 1.090, 0.605, 1.235);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}
a{
    text-decoration: none;
    color: unset;
}

button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
// .cursor {
    //     position: absolute;
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background-color: #ff8c0084;
    //     box-shadow:  
    //     0 0 60px 30px #ff8c0084, 
    //     0 0 80px 60px #ffbd6d, 
    //     0 0 90px 70px transparent; 
    //     pointer-events: none;
    //     transition: background-color 0.1s;
    //     opacity: .3;
// }
// .trail {
    //     position: absolute;
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background-color: #ff8c0084;
    //     box-shadow:  
    //     0 0 60px 30px #ff8c0084, 
    //     0 0 80px 60px #ffbd6d,   
    //     0 0 90px 70px transparent; 
    //     pointer-events: none;
    //     transition: opacity 0.5s;
    //     opacity: .3;
// }
#loading{
    @include flex(column,center,center);
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: $loading_bg;
    color: $loading_word;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/bg.svg);
        background-repeat: repeat;
        background-size: auto;
        background-position: top left;
        background-blend-mode: screen;
        opacity: 0.1;
        pointer-events: none;
        z-index: 2;
    }
    .footer_logo{
        position: absolute;
        font-size: 2.5rem;
        bottom:3vh;
        left: 50%;
        transform: translate(-50% ,0);
    }
    .bg_words{
        top: 50%;
        transform: translate(-50% ,-50%);
    }
    .loadpage{
        .load{
            position: absolute;
            bottom: -50%;
            left: 50%;
            width: clamp(300px, 34vw, 500px);
            height: 100%;
            transform: translate(-50% ,-50%);
            background-image: url('../img/loading/1.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: opacity 0.5s;
        }
        .load:not(.load1) {
            opacity: 0; 
        }
        .load2{
            background-image: url('../img/loading/2.svg');
        }
        .load3{
            background-image: url('../img/loading/3.svg');
        }
        .load4{
            background-image: url('../img/loading/4.svg');
        }
        .load5{
            background-image: url('../img/loading/5.svg');
        }
    }
}
nav{
    position: fixed;
    color: $nav_time;
    width: 100vw;
    padding: 10px 0;
    font-size: 40px;
    z-index: 99;
    .nav_container{
        @include flex("",space-between,center);
        width: 100%;
    }
    .nav_index{
        @include flex("",center,center);
        a{
            text-decoration: none;
            color: $nav_time;
        }
        .svg_button {
            position: relative;
            width: 100px;
            height: 100%;
            border: none;
            background: transparent;
            cursor: pointer;
        }
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: opacity 0.3s ease;
        }
        .icon_hidden {
            opacity: 0;
        }
        .svg_button{
            &:hover,&:active{
                .icon_default{
                    opacity: 0;
                }
                .icon_hidden{
                    opacity: 1;
                }
            }
        }
    }
    .nav_time{
        padding: 0 4rem;
    }
    .nav_year{
    font-size: 70px;
    }
    .nav_md{
        @include flex(column,center,center);
        .nav_days,
        .nav_times {
            @include flex(row, space-between, center);
            width: 100%;
        }
        .nav_days{
        }
        .nav_times{
            text-align: center;
            margin: 8px 0 0 2px;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.2rem;
        }
        .nav_week{
            margin-right: 10px;
        }
    }
    .nav_model{
        @include flex("",center,center);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to bottom, #F8F2EB, rgba(248, 242, 235, 0.42));
        border-radius: 0 0 50% 50%; 
        z-index: 80;
        display: none;
        .nav_contact{
            @include flex("",center,center);
            margin-top: 7rem;
            a{
            width: 30px;
            margin: 20px;
            }  
        }
        .nav_box{
            @include flex(column,center,center);
            margin: 20vh auto;
            .nav_list li{
                margin: 1rem 0;
                position: relative;
                font-size: 10rem;
                color: $word;
                transition: all .6s ease;
                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    display: block;
                    bottom: -10px;
                    background-color: $nav_time;
                    opacity: 0;
                    transition: all .6s ease;
                }
                &:hover,&:active{
                    color: $nav_time;
                    transform: translateY(-10px);
                    &::after{
                        opacity: 1;
                    }
                }
            } 
        }
        .nav_circle{
            width: 5em;
            height: 5em;
            top: 20px;
            right: 20px;
            position: absolute;
            &:hover,&:active{
                animation: rotate 4s linear infinite; 
            }
            path{
                fill: none;
            }
            svg{
                display: block;
                overflow: visible;
                text{
                    fill: $word;
                    transition: transform 0.5s ease;
                }
            }
        }
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
main{
    position: relative;
    overflow: hidden;
}
.title_style{
    font-size: $bgTitle;
    line-height: 150%;
    letter-spacing: -2.2%;
    text-align: center;
}
.indexBox{
    @include flex("",center,center);
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.index_top{
    position: relative;
    margin-top: 10%;
    width: 100%;
}
.bg_words{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index:-1;
    font-size: 30rem;
    text-wrap: nowrap;
    color: transparent;
    text-shadow:0 0 15px $word;
    opacity: .4;
}
.top_pic{
    @include flex("",center,center);
    position: relative;
    width: calc(100% - 60px);
    height: 80%;
    padding-bottom: 56.25%;
    background-image: url('../img/index/top_pic.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    .index_top_title{
        @include flex(column,center,center);
        position: absolute;
        bottom: 5%;
        color: $body_bg;
        .title_style{
            position: relative;
            span{
                position: absolute;
                left: -3rem;
                top: 3rem;
            }
            span:nth-child(2){
                left: unset;
                right: -3rem;
            }
        }
        h2{
            margin-top: -3vh;
            font-family: "IBM Plex Sans", sans-serif;
            font-size: $smTitle;
            letter-spacing: .5vw;
       }
    }
}
.index_about{
    @include flex("",center,center);
    width: 80%;
    margin: auto;
}
.about_textbox{
    @include flex(column,center,stretch);
    flex: 1;
    text-align: center;
    padding: 20px 10px;
    width: clamp(300px, 34vw, 500px);
    height: clamp(300px, 34vw, 500px);
    font-size: $text;
    cursor: pointer;
    transition: all 1s ease, color 1s ease; 
    &:hover,&:focus{
        color:$word_hover;
        hr{
            border-top: 1px solid $word_hover;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        }
        .text_title, .text_jobname, .text_intro {
            text-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
        }
    }
    hr{
        border: none; 
        border-top: 1px solid $word; 
        width: 100%; 
        margin: 10px 0; 
        transition: box-shadow 1s ease;
    }
    .text_title{
        font-size: 10vw;
        text-wrap: nowrap;
    }
    .text_title,.text_intro,.text_jobname{
        position: relative;
        margin: 10px 0;
        width: 100%;
        max-width: 100%; 
        box-sizing: border-box;
        text-align: center; 
        transition: color 1s ease, text-shadow 1s ease;
    }
    .text_jobname{
        @include flex("",center,center);
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: bold;
        font-size: 1.4vw;
        text-wrap: nowrap;
        h2{
            margin-right: 20px;
            position: relative;
            height: 100%;
            &::after{
                content: "";
                position: absolute;
                right: -10px;
                top: 0;
                display: block;
                width: 1px;
                height: 100%;
                background-color: $word;
            }
        }
    }
    .text_intro{
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 1.1rem;
        letter-spacing: 1.4px;
        padding: 0 20px;
        text-align: justify;
    }
}
.about_library{
    @include flex(column,center,center);
    flex: 2;
    height: 70%;
    background-color: #1E98BA;
}
.index_works{
    position: relative;
    flex-direction: column;
    .see_all_works{
        @include btn();
        position: absolute;
        right: 10%;
        top: 10%;
    }
}

.allWords_page{
    display: none;
    position:relative;
    margin-bottom: 10vw;
    width: 80%;
    .exit{
        position: absolute
    }
    ul{
        display: inline-block;
        width: 50vw;
        margin: 5vw auto;
        font-size: 5vw;
        li{
            border-top: 1px solid $word;
            padding: 20px 10px;
            transition: all .7s ease;
            &:hover,&:focus{
                color: $word_hover;
                text-shadow:$hover; 
                span:nth-child(2){
                    transform: translateX(-50px);
                }
            }
        }
        li:nth-last-child(1){
            border-bottom: 1px solid $word;
        }
        span{
            transition: all .7s ease;
        }
        a{
            @include flex("",space-between,center);
            text-decoration: none
        }
    }
}

.carousel{
    opacity: 1; 
    transform: translateY(0);
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    transition: opacity 1s ease, transform 1s ease;
    .list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1140px;
        max-width: 90%;
        height: 80%;
    }
    .item{
        @include flex(column,center,center);
        position: absolute;
        top: 0;
        left: 0;
        background-color: $item_bg;
        box-shadow: $boxShadow;
        padding: 20px;
        width: clamp(300px, 34vw, 500px);
        height:100%;
        transition: transform 0.5s ease;
    }
    .item.active{
        transition: transform .5s ease;
        &:hover,
        &:active {
            transform: translateY(-10px);
        }
    }
    .item:nth-child(n+4){
        opacity: 0;
        pointer-events: 0;
    }
    .item:nth-child(2){
        transform: $item2-transform;
        filter: $item2-blur;
        z-index: $item2-zindex;
        opacity: $item2-opacity;
    }
    .item:nth-child(1){
        transform: $item1-transform;
        filter: $item1-blur;
        z-index: $item1-zindex;
        opacity: $item1-opacity;
        pointer-events: none;
    }
    .item:nth-child(3){
        transform: $item3-transform;
        filter: $item3-blur;
        z-index: $item3-zindex;
        opacity: $item3-opacity;
    }
    .item:nth-child(4){
        transform: $item4-transform;
        filter: $item4-blur;
        z-index: $item4-zindex;
        opacity: $item4-opacity;
    }
    .item:nth-child(1){
        animation: positionItem2 0.5s ease-in-out 1 forwards;
    }
    .item:nth-child(2){
        animation: positionItem3 0.7s ease-in-out 1 forwards;
    }
    .item:nth-child(3){
        animation: positionItem4 0.9s ease-in-out 1 forwards;
    }
    .arrows{
        @include flex("",center,center);
        position:absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,0);
        button{
            @include flex("",center,center);
            font-size: 2rem;
            color: $nav_time;
            span{
                margin-top: 5px;
                font-size: .7rem;
            }
        }
    }
    .item_img{
        flex: 1;
        width: 100%;
        height: 100%;
    }
    .item_text{
        @include flex("",space-between,flex-start);
        position: relative;
        flex: 2;
        .item_title{
            position: relative;
            bottom: -60%;
            flex: 1;
            color: $nav_time;
            text-wrap: nowrap;
            p{
                font-family: "IBM Plex Sans", sans-serif;
                font-size: .6vw;
            }
            h1{
                font-size: 4vw;
            }
        }
        .item_ctx{
            flex: 1;
            height: 100%;
            position: relative;
            padding: 0 20px;
            p{
                margin: 20px;
                font-family: "IBM Plex Sans", sans-serif;
                font-size: 1em;
            }
            span{
                font-size: 1em;
                border: 1px solid $word;
                padding: 5px 15px;
                border-radius: 30px;
                position: absolute;
                right: 0;
                bottom: 0;
                text-wrap: nowrap;
            }
        }
    }
}
.carousel.hidden{ 
    pointer-events: none;
    opacity: 0; 
    transform: translateY(30px); 
    transition: opacity 1s ease, transform 1s ease;
}
@keyframes positionItem2{
    from{
        transform: $item2-transform;
        filter: $item2-blur;
        z-index: $item2-zindex;
        opacity: $item2-opacity; 
    }   
}
@keyframes positionItem3{
    from{
        transform: $item3-transform;
        filter: $item3-blur;
        z-index: $item3-zindex;
        opacity: $item3-opacity; 
    }   
}
@keyframes positionItem4{
    from{
        transform: $item4-transform;
        filter: $item4-blur;
        z-index: $item4-zindex;
        opacity: $item4-opacity; 
    }   
}
footer{
    @include flex("",space-between,center);
    width: 100%;
    position: relative;
    padding: 3vh;
    background-color:$word;
    color: $body_bg;
    .footer_logo{
        margin-left: 10px;
        font-size:2vw;
    }
    .footer_designer{
        font-family: "IBM Plex Sans", sans-serif;
        font-size: .8em;
    }
    .footer_contact{
        @include flex("",center,center);
        a{
            display: block;
            margin: 7px 7px 0px 7px;
            width: 20px;
            height: 20px;
        }
        a:nth-child(1){
            width: 22px;
        }
    }
}
.hide{
    display: none;
}
//RWD---------------------------------------------
@media (max-width: 1200px) {
// bar
}
@media (max-width: 768px) {
}