// function
@import 'base/_reset';
@import 'base/var';
@import 'base/fonts'; 
@import 'mixins/mix';

html{
    width: 100%;
    height: 100%;
    cursor: none;
}
body {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background: $body_bg;
    background-image: url('../dev/img/bg.svg');
    background-blend-mode: overlay;
    background-size: 200%;
    background-position: 0%;
    color: $word;
    }
    button{
        border: none;
        background-color: transparent;
    }
    .cursor {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ff8c0084;
        box-shadow:  
        0 0 60px 30px #ff8c0084, 
        0 0 80px 60px #ffbd6d, 
        0 0 90px 70px transparent; 
        pointer-events: none;
        transition: background-color 0.1s;
    }
    .trail {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #ff8c0084;
        box-shadow:  
        0 0 60px 30px #ff8c0084, 
        0 0 80px 60px #ffbd6d,   
        0 0 90px 70px transparent; 
        pointer-events: none;
        transition: opacity 0.5s;
    }
.none{
    display: none;
}

footer{
    @include flex("",center,center);
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 3vh;
    background-color:$word;
    color: $body_bg;
}
//RWD---------------------------------------------
@media (max-width: 1200px) {
// bar
}
@media (max-width: 768px) {
}