/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'LeMurmure';
  src: url("../../fonts/webfonts/LeMurmure-Regular.woff2") format("woff2"), url("../../fonts/webfonts/LeMurmure-Regular.woff") format("woff"), url("../../fonts/le-murmure.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LeMurmure", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  cursor: none;
}

body {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: #ECE5C7;
  background-image: url("../dev/img/bg.svg");
  background-blend-mode: overlay;
  background-size: 200%;
  background-position: 0%;
  color: #4F709C;
}

button {
  border: none;
  background-color: transparent;
}

.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff8c0084;
  -webkit-box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,  0 0 90px 70px transparent;
          box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,  0 0 90px 70px transparent;
  pointer-events: none;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff8c0084;
  -webkit-box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,    0 0 90px 70px transparent;
          box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,    0 0 90px 70px transparent;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.none {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 3vh;
  background-color: #4F709C;
  color: #ECE5C7;
}
/*# sourceMappingURL=index.css.map */