/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'LeMurmure';
  src: url("../../fonts/webfonts/LeMurmure-Regular.woff2") format("woff2"), url("../../fonts/webfonts/LeMurmure-Regular.woff") format("woff"), url("../../fonts/le-murmure.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LeMurmure", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  cursor: none;
}

body {
  position: relative;
  width: 100vw;
  background: #ECE5C7;
  color: #4F709C;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.svg");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  background-blend-mode: overlay;
  opacity: 0.1;
  pointer-events: none;
  z-index: 99;
}

button {
  border: none;
  background-color: transparent;
}

.cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff8c0084;
  -webkit-box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,  0 0 90px 70px transparent;
          box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,  0 0 90px 70px transparent;
  pointer-events: none;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.trail {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff8c0084;
  -webkit-box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,    0 0 90px 70px transparent;
          box-shadow: 0 0 60px 30px #ff8c0084,  0 0 80px 60px #ffbd6d,    0 0 90px 70px transparent;
  pointer-events: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.hide {
  display: none;
}

nav {
  color: #213555;
  width: 100vw;
  padding: 10px 0;
  font-size: 40px;
}

nav .nav_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav .nav_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_index button {
  cursor: none;
}

nav .nav_time {
  padding: 0 3rem;
}

nav .nav_year {
  font-size: 70px;
}

nav .nav_md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav_md .nav_days,
nav .nav_md .nav_times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

nav .nav_md .nav_times {
  text-align: center;
  margin: 8px 0 0 2px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2rem;
}

nav .nav_md .nav_week {
  margin-right: 10px;
}

.title_style {
  font-size: 12vw;
  line-height: 150%;
  letter-spacing: -2.2%;
  text-align: center;
}

.indexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.index_top {
  position: relative;
  margin-top: 10vh;
  width: 100%;
}

.bg_words {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  font-size: 30rem;
  text-wrap: nowrap;
  color: transparent;
  text-shadow: 0 0 15px #4F709C;
  opacity: .4;
}

.top_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: calc(100% - 20px);
  padding-bottom: 56.25%;
  background-image: url("../img/index/top_pic.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.top_pic .index_top_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
  color: #ECE5C7;
}

.top_pic .index_top_title .title_style {
  position: relative;
}

.top_pic .index_top_title .title_style span {
  position: absolute;
  left: -3rem;
  top: 3rem;
}

.top_pic .index_top_title .title_style span:nth-child(2) {
  left: unset;
  right: -3rem;
}

.top_pic .index_top_title h2 {
  margin-top: -3vh;
  font-size: 2vw;
  letter-spacing: 1vw;
}

.index_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_textbox {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  padding: 20px 10px;
  width: 25vw;
  height: 25vw;
  font-size: 1.8vw;
}

.about_textbox hr {
  border: none;
  border-top: 1px solid #4F709C;
  width: 100%;
  margin: 10px 0;
}

.about_textbox .text_title {
  font-size: 7vw;
}

.about_textbox .text_title, .about_textbox .text_intro, .about_textbox .text_jobname {
  position: relative;
  margin: 10px 0;
}

.about_textbox .text_jobname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_textbox .text_intro {
  text-align: justify;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  position: relative;
  padding: 3vh;
  background-color: #4F709C;
  color: #ECE5C7;
}
/*# sourceMappingURL=index.css.map */