// 字體
$title:24px;
$h2:21px;
$h3:18px;

// cursor
$click:url("../pic/icon/click_cursor.svg"), default;
$regular:url("../pic/icon/regular_cursor.svg"), default;

// 顏色
$nav_color:#FFF4CB99;
$nav_color2:rgba(130, 130, 130, 1);
$nav_line:rgba(191, 178, 158, 1);
$nav_bg:rgba(255, 255, 255, 0.3);
$nav_bg_ck:rgba(205, 191, 155, 1);

$body_bg:rgba(243, 239, 227, 0.92);
$item_bg:rgba(255, 255, 255, 0.9);

$gray2:rgba(79, 79, 79,1);
$gray3:rgba(130, 130, 130, 1);







// 斷點 breakpoint
$desktop: 1200px;
$mobile : 320px;


